{% extends layout %}
{% block content %}
  Blog Posts
  {% for post in posts %}
  <div id="{{ post.id }}">
    <a href="/blog/{{ post.id }}">{{ post.title }}</a>
  </div>
  {% endfor %}
{% endblock %}