<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Application Layout</title>
</head>
<body>
  <h3>Application Layout</h3>
  {% block content %}
  {% endblock %}
</body>
</html>